* {
    box-sizing: border-box;
}
:root {
    --dark-purple: rgb(63, 53, 74);
}

header {
    padding: 0 20px;
    background-color: var(--dark-purple);
    color: white;
    display: flex;
    justify-content: space-between;
}
.title {
    font-family: 'Monoton', cursive;
}
nav {
    align-self: flex-end;
}
.navbar {
    list-style: none;
}
.navbar li {
    display: inline-block;
    margin-left: 20px;
    color: white;
}

.navbar:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.start-box {
    width: 500px;
    height: 380px;
    padding: 30px;
    /*background-color: rgb(185, 173, 198);
    border: none;
    border-radius: 12px;*/
    color: var(--dark-purple);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.start-title {
    margin-left: -25px;
}
.start-text {
    padding: 0 30px;
    line-height: 25px;
}
.start-btn {
    width: 80px;
    height: 30px;
    border-style: solid;
    border-color: var(--dark-purple);
    color: var(--dark-purple);
    font-weight: bolder;
    background-color: white;
}
.start-btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(185, 173, 198);
    border: none;
    box-shadow: 0 0.5rem 1.2rem 0 mediumpurple;
}

/*for timer*/
.timer-box {
    color: rgb(63, 53, 74);
}
.time-left {
    font-size: 28px;
    text-align: center;
}
.timer-box h3 {
    font-size: 1rem;
}

.hidden {
    display: none;
}


/*for quiz box*/
.quiz-box {
    width: 500px;
    height: 380px;
    padding: 30px;
    background-color: rgb(202, 193, 211);
    border: none;
    border-radius: 30px;
    color: black;
    margin: 100px;
}
.btn-grid {
    display: grid;
    margin: 25px;
    gap: 10px;
}

/*style each answer btn*/
.btn {
    padding: 15px;
    border: none;
    background-color: rgb(245, 247, 224);
    text-align: left;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.2rem 0 mediumpurple;
}
.btn.correct {
    background-color: rgb(168, 240, 174);
    color: var(--dark-purple);
}

.btn.wrong {
    background-color: rgb(241, 170, 170);
    color: var(--dark-purple);
}
.hide {
    display: none;
}