* {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.quiz-box {
    width: 500px;
    height: 380px;
    padding: 30px;
    background-color: rgb(202, 193, 211);
    border: none;
    border-radius: 30px;
    color: black;
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.question {
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 20px;
}
.choice-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    border-radius: 20px;
    background: beige;
    margin-bottom: 10px;
}
.choice-prefix{
    margin-left: 20px;
}
.choice-text {
    margin-left: 8px;
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1.4rem 0 grey;
}

.timer-box {
    color: rgb(63, 53, 74);
}
.time-left {
    font-size: 28px;
    text-align: center;
}
.timer-box h3 {
    font-size: 1rem;
}

.hidden {
    display: none;
}
