* {
    box-sizing: border-box;
}
header {
    padding: 20px;
    background-color: rgb(63, 53, 74);
    color: white;
    display: flex;
    justify-content: space-between;
}
.title {
    font-family: 'Monoton', cursive;
}
nav {
    align-self: flex-end;
}
.navbar {
    list-style: none;
}
.navbar li {
    display: inline-block;
    margin-left: 20px;
    color: white;
}

.navbar:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.start-box {
    width: 400px;
    height: 420px;
    padding: 30px;
    /*background-color: rgb(185, 173, 198);
    border: none;
    border-radius: 12px;*/
    color: rgb(63, 53, 74);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.start-title {
    margin-left: -25px;
}
.start-text {
    padding: 0 30px;
    line-height: 25px;
}
.start-btn {
    width: 80px;
    height: 30px;
    border-style: solid;
    border-color: rgb(63, 53, 74);
    color: rgb(63, 53, 74);
    font-weight: bolder;
    background-color: white;
}
.start-btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(185, 173, 198);
    border: none;
    box-shadow: 0 0.5rem 1.2rem 0 mediumpurple;
    transition: transform 150ms;
    transform: scale(1.03);
}

.timer-box {
    color: rgb(63, 53, 74);
}
.time-left {
    font-size: 28px;
    text-align: center;
}
.timer-box h3 {
    font-size: 1rem;
}

.hidden {
    display: none;
}
